html {
	background: #eee;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}
ul {
	list-style: none;
	padding: 0;
}
ul, form {
	margin: 1em 0em;
}
hr {
	margin: 2em 0em;
}
li {
	padding: 0.3em;
	border: solid 2px grey;
	margin: 0.1em;
	background: white;
	user-select: none;
	text-transform: uppercase;
}
li.paused {
	color: #444;
	background: #DDD;
}
li button {
	float: right;
	margin: 0 0.2em;
	font-size: 0.6em;
}

button {
	cursor: pointer;
	background: none;
}
