/* html {
	background: #eee;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	padding: 0.3em;
	border: solid 2px grey;
	margin: 0.1em;
	background: white;
	user-select: none;
	text-transform: uppercase;
}
li button {
	float: right;
	border: none;
	color: red;
}

li:hover {
	background: ivory;
}

button {
	cursor: pointer;
	background: none;
}
 */
